{% extends "base.html" %}
{% block content %}
<h1>Items<h1>
  
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>url</th>
            <th>HN url</th>
            <th>Comments</th>
            <th>Likes</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for item in news_items %}
            <tr>
              <td class="customtable">{{item.url}}</td>
              <td class="customtable">{{item.hn_url}}</td>
              <td>{{item.comments}}</td>
              <td>{{item.upvotes}}</td>
              <td>{{item.posted_on}}</td>
              <td>
                {% if not item.read %}
                <form id="markRead" method="post" action="{% url 'read' %}">
                  {% csrf_token %}
                  <input type="hidden" name="item-id" value="{{item.id}}"/>
                  <input class="btn btn-default btn-xs" type="submit" value="Read"/>
                </form>
                {% endif %}
                <form id="markDeleted" method="post" action="{% url 'delete' %}">
                  {% csrf_token %}
                  <input type="hidden" name="item-id" value="{{item.id}}"/>
                  <input class="btn btn-default btn-xs" type="submit" value="Delete"/>
                </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  <script language="javascript" type="text/javascript"> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#markRead, #markDeleted').ajaxForm(function() { 
                location.reload();
            }); 
        }); 
    </script> 
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
            Page {{  page_obj.number }} of {{  page_obj.paginator.num_pages }}.
      </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}